In [1]:
from bs4 import BeautifulSoup
import requests
import csv

In [2]:
url = "http://books.toscrape.com/"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
#parse the page with BeautifulSoup

In [3]:
books = soup.find_all('article', class_='product_pod')
import pandas as pd

In [4]:
df = pd.DataFrame(columns  =  ['Book Title','Price'])
df

Empty DataFrame
Columns: [Book Title, Price]
Index: []

In [5]:
for book in books:
    title = book.find('h3').find('a').text.strip()# title
    price = book.find('p', class_='price_color').text.strip() #price
    length  = len(df)
    df.loc[length] = [title,price]
df

                               Book Title    Price
0                      A Light in the ...  Â£51.77
1                      Tipping the Velvet  Â£53.74
2                              Soumission  Â£50.10
3                           Sharp Objects  Â£47.82
4            Sapiens: A Brief History ...  Â£54.23
5                         The Requiem Red  Â£22.65
6            The Dirty Little Secrets ...  Â£33.34
7                 The Coming Woman: A ...  Â£17.93
8                     The Boys in the ...  Â£22.60
9                         The Black Maria  Â£52.15
10  Starving Hearts (Triangular Trade ...  Â£13.99
11                  Shakespeare's Sonnets  Â£20.66
12                            Set Me Free  Â£17.46
13    Scott Pilgrim's Precious Little ...  Â£52.29
14                      Rip it Up and ...  Â£35.02
15                  Our Band Could Be ...  Â£57.25
16                                   Olio  Â£23.88
17        Mesaerion: The Best Science ...  Â£37.59
18           Libertarianism for Beginners  Â£51.33
19                It's Only the Himalayas  Â£45.17